Criando_Cortes.json
{
  "name": "Criando Cortes",
  "nodes": [
    {
      "parameters": {},
      "id": "b2544f17-2f2e-43d1-988e-5bff104b1cd2",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        220,
        20
      ]
    },
    {
      "parameters": {
        "command": "=ls /tmp/output_*.mp4"
      },
      "id": "d93a9c7c-0ba9-494c-926f-26393bf63ba7",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        20
      ]
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "create",
        "bucketName": "primeiro-bucket-dev-ceglia",
        "objectName": "={{ $binary.data.fileName }}",
        "createData": {},
        "createQuery": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "id": "78ff7228-16da-4ccd-9727-db280df87cb2",
      "name": "Google Cloud Storage",
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        1300,
        20
      ],
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "kvTQWExv5wdh6U4Z",
          "name": "Google Cloud Storage account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "8S8kI4trrAIKbtVL",
        "options": {}
      },
      "id": "6def3d2e-8327-4170-9830-76ee4805d448",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3320,
        20
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75932477-48a3-4aff-80fd-d04f3210f8b2",
              "name": "listaArquivos",
              "value": "={{ $json.stdout.split(\"\\n\")[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f83c8622-0f7c-4e84-9fe8-169ad68f011d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        740,
        -100
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "listaArquivos",
        "options": {}
      },
      "id": "ae820759-9f1c-4324-bb57-887ac5e4aa7c",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        820,
        220
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.listaArquivos }}",
        "options": {}
      },
      "id": "03f021f4-9f6e-459e-9795-519dd28d2c2c",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1080,
        20
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75932477-48a3-4aff-80fd-d04f3210f8b2",
              "name": "listaArquivos",
              "value": "={{ $json.stdout.split(\"\\n\") }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "189d1ace-f61b-4b1a-97ef-72a1f9cc4124",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        640,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://elb-api.vizard.ai/hvizard-server-front/open-api/v1/project/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "VIZARDAI_API_KEY",
              "value": "a41d0d4f040e49369df6766bf27f7816"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "projectName",
              "value": "={{ $json.name }}"
            },
            {
              "name": "videoUrl",
              "value": "={{ $json.mediaLink }}"
            },
            {
              "name": "=ext",
              "value": "={{ $json.name.split(\".\")[$json.name.split(\".\").length - 1]}}"
            },
            {
              "name": "lang",
              "value": "en"
            },
            {
              "name": "preferLength",
              "value": "={{ [0] }}"
            },
            {
              "name": "subtitleSwitch",
              "value": "={{0}}"
            },
            {
              "name": "headlineSwitch",
              "value": "={{0}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        20
      ],
      "id": "6bbc6498-97b2-4c81-a8f4-60f710cb52a8",
      "name": "Criando Cortes"
    },
    {
      "parameters": {
        "url": "=https://elb-api.vizard.ai/hvizard-server-front/open-api/v1/project/query/{{ $json.projectId }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n   \"Content-Type\": \"application/json\",\n   \"VIZARDAI_API_KEY\": \"a41d0d4f040e49369df6766bf27f7816\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        20
      ],
      "id": "680d9370-0480-47f8-a2b4-59ab1263344d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "videos",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2340,
        20
      ],
      "id": "153606eb-6a02-446a-b01d-f124e27c7a94",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1gQxZG52H4N0JpZCAd3XC1OO8O1OKWwHI",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2920,
        20
      ],
      "id": "26d05171-1c21-475c-be09-f96c97dff30f",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jTjXUTfmZUuIYvp2",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        20
      ],
      "id": "e79fd49b-2284-420b-8b3a-58aeff3f3f9a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "folder",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1gQxZG52H4N0JpZCAd3XC1OO8O1OKWwHI",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1960,
        20
      ],
      "id": "15852c0b-c22c-4d4a-aac8-7237a8a17ee3",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jTjXUTfmZUuIYvp2",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Cloud Storage": {
      "main": [
        [
          {
            "node": "Criando Cortes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Google Cloud Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criando Cortes": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2678025a-d140-4115-9eb5-aedab918c2c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e43c09c935ffd7091acb56f1e60b09e711e9aebe66d7e71c19436437da927639"
  },
  "id": "dOYIFUkn0fzHVYdP",
  "tags": []
}